.card-button:hover,
.card-button:focus,
button:hover,
button:focus {
  background-color: #0056b3;
}

.card img {
  max-width: 100%;
  max-height: 100%; 
  height: auto;
  width: auto; 
}

.card {
  display: inline-block;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
